.footer {
  background: #1f1f1f;
  color: #ddd;
  padding: 60px 10% 20px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-col h2,
.footer-col h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-logo {
  font-size: 28px;
  letter-spacing: 2px;
  color: #c89b6d;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  margin-right: 13px;
  color: #c89b6d;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
.social-links img{
    max-width: 35px;
    width: 100%;
    object-fit: cover;
}
.social-links a:hover {
  color: #fff;
  transform: translateY(-3px);
}

  .QR {
    width: 100%;
    max-width: 50px; 
}
 
.footer-bottom {
  margin-top: 50px;
  padding-top: 20px;
  border-top: 1px solid #333;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}


