        #v10 {
            background: #7a7272;
;
      
        
        }
        .v10_menutab {
            display: flex;
            width: 100%;
            padding: 27px;
            flex-direction: row;
            line-height: 30px;
            gap: 15px;
            flex-wrap: nowrap;
            ;

        }

        .v10_divtab h3{
        
        font-size: 18px;
        color: rgb(6, 6, 6);
        }
     
        .v10_divtab p {
          
            color:rgb(23, 23, 23);
        }

            .v10_menutab ul {
            list-style: none;
 
    
         
            }
        .v10_divtab{
            width: 100%;
            max-width: 165px;
        }

        .v10_divtab ul li a {
            text-decoration: none;
            color: #040404;
       
            line-height: 34px;
            
        }
        .footer_text{
        display: flex;
        gap: 18px;
        }
        html {
  scroll-behavior: smooth;
}